<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>History-LANCIA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/history.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar" style="background-color: #18517b;padding-top: 0px;padding-bottom: 0px;">
        <div class="container"><a class="navbar-brand text-white logo" href="index.html" style="font-size: 37px;">LANCIA</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active text-white" href="history.html">History</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="membership.html">membership</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="boutique.html">Boutique</a></li>

                </ul>
        </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features" style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;padding-top: 0px;">
            <div class="container">
                <div class="block-heading" style="padding-top: 80px;">
                    <h2 class="text-info" style="margin-bottom: 10px;height: 42px;padding-top: 0px;">History</h2>
                    <p>Here's a look at the marvelous history of Lancia&nbsp;</p>
                </div>
            </div>
            <div class="time-body"></div>
        </section>
    </main>
    <div class="container">
        <div class="row">
                <ul class="timeline">
                    <li>
                        <h3 style="color: #1f5074;">1953 - The birth of scuderia Lancia</h3>
                        <p>the manufacturer participated in several races like the 24th hours of Le Mans or the famous Mille-miglia </p>
                    </li>
                    <li>
                        <h3 style="color: #1f5074;">1963->1972 - the Fulvia domination</h3>
                        <p>Lancia won several manufacturers title with the hatchback "fulvia" </p>
                    </li>
                    <li>
                        <h3 style="color: #1f5074;">1986 - The tragic accident of Toivonnen</h3>
                        <p>In 1986, Lancia pilot Henry Toivonnen crashed during the Tour de Corse, causing its death. This accident among many others signed the death of group B racing and of the lancia delta S4</p>
                    </li>
                    <li>
                        <h3 style="color: #1f5074;">1987->1992 - Lancia Delta Integrale absolute domination</h3>
                        <p>Following the accident, the Lancia Delta has been adapted to run into group A category, and managed to win 3 titles consecutively with the maximum amount of point, which has never been seen before</p>
                    </li>
                </ul>
        </div>
    </div>
    <div>
        <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=7.118453979492188%2C44.8188638076915%2C8.265151977539064%2C45.25362179991922"></iframe>
        </div>
    </div>
S
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/jquery-3.5.1.min.js"></script>
</body>

</html>