<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home-LANCIA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar" style="background-color: #18517b;padding-top: 0px;padding-bottom: 0px;">
        <div class="container"><a class="navbar-brand text-white logo" href="index.html" style="font-size: 37px;">LANCIA</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link text-white active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active text-white" href="history.html">History</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="membership.html">membership</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="boutique.html">Boutique</a></li>

                </ul>
        </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(142,198,232,0);"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/INwqyPct8qY?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=INwqyPct8qY" width="auto" height="auto" style="width: 1201px;height: 691px;"></iframe></section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Why saving Lancia ?&nbsp;</h2>
                    <p>Lancia remains the leading manufacturer in terms of rallye championship wins with 14 world Titles !</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/cars/LanciaRally037.jpg"></div>
                    <div class="col-md-6" style="height: 245px;">
                        <h3>Walter Rohrl, 2x World rallye champion</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Montserrat Alternates', sans-serif;">" The 037 was such an awesome car! it was super controlable on the steering, I felt like i was flying in the asphalt stages "</p>
                        </div><button class="btn btn-outline-primary btn-lg" type="button" onclick="location.href = 'history.html';">about history</button></div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">How to help the project ?&nbsp;</h2>
                    <p>We need your help to make lancia great again !&nbsp;</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="fas fa-shopping-cart icon"></i>
                        <h4>Buy products from the boutique</h4>
                        <p>Our store features nice designs and goodies to show others your love for Lancia !&nbsp;</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="fa fa-comment icon"></i>
                        <h4>Share the projects with others</h4>
                        <p>Feel free to tell your friends via any social networks about the project&nbsp;</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="fas fa-heart icon"></i>
                        <h4>Be a VIP member</h4>
                        <p>You can monthly donate at out membership page</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="fa fa-user icon"></i>
                        <h4>Apply as a volunteer</h4>
                        <p>You can also give some of your time to help the community, you will find more information in our contact form</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Gallery</h2>
                    <p>Here's some nice photos you can set as wallpaper or even print !&nbsp;</p>
                </div>
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/cars/1996941.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="assets/img/cars/Lancia_Delta_S4_Stradale-640x360.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="assets/img/cars/thumb-1920-541154.jpg" alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                            data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>The lovely volunteers behind the lancia project&nbsp;</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/people/Michèle_Mouton_1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Michelle Mouton</h4>
                                <p class="card-text">Audi pilot, she's deeply involved in the sponsor seeking part</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/people/WALTER-KADETT.jpeg">
                            <div class="card-body info">
                                <h4 class="card-title">Walter Röhrl</h4>
                                <p class="card-text">2 Times world champion, he's responsible for the business aspect and shop</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/people/lewis.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Lewis hamilton</h4>
                                <p class="card-text">"Bono my tires are gone"</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/jquery-3.5.1.min.js"></script>
</body>

</html>